<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- Usuwanie nagłówka X-Powered-By dodawanego przez IIS -->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!-- Ukrywanie wersji serwera IIS -->
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>
